
.header
{
    background-color: #00573d;
    width: 100% !important;  }

#shamrock
{
    width: 30px;
    height: 30px;
    float: left;
    margin: 9px -7px 0 10px;
}

.navbar-brand
{
    color: #fbfbfb !important;
}

#xAlert
{
    display: none;
}

#signup_div
{
    /*background-color:*/
    background-color: #f8f8f8;
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid #d4d4d4;
    padding: 17px 17px 0 17px;
    border-radius: 5px;


}

#signup_div .lead
{
    font-size: 22px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 7px;
}

#signup_btn
{
    margin: 10px auto -6px auto;
    display: block;
    width: 100px;
}





html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body
{
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}


#footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 7px;
    border-top: 1px solid #d4d4d4;
    text-align: center;
}

