body
{
    /*background-color: #716969;*/
    /*background-color: #FFD05B;*/

}

/*#main-container*/
/*{*/
    /*position: relative;*/
/*}*/

.header
{
    background-color: #00573d;
}

#shamrock
{
    width: 30px;
    height: 30px;
    float: left;
    margin: 9px -7px 0 10px;
}

.navbar-brand
{
    color: #fbfbfb !important;
}

#xAlert
{
    display: none;
}

#admin_period
{
    float: right;
}

#admin_form
{
    margin-bottom: 20px;
}

#lib_signin
{
    margin-top: 20px;
}

#requestedPasses_header
{
    margin-bottom: 20px;
}

#history_period
{
    float: right;
}

#history_header
{
    margin-bottom: 25px;
}

#history_form
{
    margin-bottom: 20px;
}

#or
{
    margin-bottom: 10px;
}

#signin_alert
{
    display: none;
}

#checkin_header
{
    margin-bottom: 20px;
}

#signup_div
{
    /*background-color:*/
    background-color: #f8f8f8;
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid #d4d4d4;
    padding: 17px 17px 0 17px;
    border-radius: 5px;


}

#signup_div .lead
{
    font-size: 22px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 7px;
}

#signup_btn
{
    margin: 10px auto -6px auto;
    display: block;
    width: 100px;
}

#signin_table
{
    display: none;
}

#completed_pass h2
{
    font-weight: bold;
}

#completed_pass .pass_item
{
    font-size: 20px;
}

#xLimit_header
{
    margin-bottom: 15px;
}

#limit_alert
{
    display: none;
}


#searchName, #searchID
{
    margin-top: 5px;
}

#footer
{
    position: fixed;
    /*left: 0px;*/
    bottom: 0;
    left: 0;
    padding-top: 5px;
    height: 30px;
    /*max-width: 300px;*/
    width: 100%;
    border-top: 1px solid #d4d4d4;
    text-align: center;
    vertical-align: middle;
}

