#completed_pass, .alert
{
    max-width: 500px !important;
    margin: 0 auto;
}

.alert
{
    margin-bottom: 17px;
}

#completed_pass h2
{
    font-weight: bold;
}

#completed_pass .pass_item
{
    font-size: 20px;
}